.orders {
  padding: 20px;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.box {
  background-color: #8ec9c9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.box p {
  margin: 10px 0;
  color: #020000;
}

.status-select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
}

.update-btn, .delete-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-btn {
  background-color: #28a745;
  color: #fff;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
}

.update-btn:hover, .delete-btn:hover {
  background-color: #218838;
}
